{% extends "base.html" %}

{% block title %}Analyze Vehicles{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análisis de vehículos</title>
</head>
<body>
    <h2>Análisis de vehículos</h2>
    {% if sucessMessage %}
        <p>{{ sucessMessage }}</p>
        <div>
            <h3>Gráfico de eficiencia de combustible</h3>
            <img src="data:image/png;base64,{{ fuel_efficiency_bar_chart }}" alt="Gráfico de eficiencia de combustible">
        </div>

        <div>
            <h3>Gráfico de vehículos por marca</h3>
            <img src="data:image/png;base64,{{ vehicles_by_brand_pie_chart }}" alt="Gráfico de vehículos por marca">
        </div>

        <div>
            <h3>Distribución de eficiencia de combustible</h3>
            <img src="data:image/png;base64,{{ fuel_efficiency_distribution }}" alt="Distribución de eficiencia de combustible">
        </div>
    {% else %}
        <p>{{ errorMessage }}</p>
        <a href="{% url 'create_vehicle' %}">Crear vehículo</a>
        <a href="/consumo_gasolina/analyze_vehicles">Volver a intentar</a>
    {% endif %}
</body>
</html>

{% endblock %}