{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
</head>

<body>
    <h2>Solicitud de Restablecimiento de Contraseña</h2>
    <p>Se ha enviado un correo electrónico con una contraseña temporal.
        Debes usarla para iniciar sesión y cambiar tu contraseña por la que 
        desees.
        <strong>Recuerda que esta contraseña es temporal y no es segura</strong>
    </p>

    <p>Si no recibiste el correo, revisa tu carpeta de spam o intenta 
        nuevamente.
    </p>

    <p>¿Ya recibiste el correo? Inicia sesión para cambiar tu contraseña.</p>
    <a href="{% url 'login' %}">Iniciar sesión</a>
</body>
{% endblock %}